
.bg{
  background: url('./bg.jpg') no-repeat center center / cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 25px;
  margin: 0 auto;
  background: #ffffff90;
  color: #333;
  border-radius: 10px;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
